footer#colophon{
	background-color:#95989a;
	color:#fff;
	text-align: center;
    padding: 1em;

    p{
    	color:$body-background;
    }
    .container{
		&>div[class="row"]{
			margin:0 !important;
		}   
    }

}