$body-background: #fbfbfb;
$text-color: #95989a;
$highlight-color:#fbfbfb;
$main-blue:#031d55;
$highlight-blue:#3b7aec;
$twitter-blue:#4099ff;
$social-background:#3b5998;
$main-red:#c11c1c;
$highlight-red:#d9534f;